html, body
{
    height: 100%;
    width: 100%;
}
body
{
    line-height: 15px;
    font-family: Arial, sans-serif;
    background: url('../img/backgrounds/main.png') repeat-x;
}
h1, h2
{
    font-family: "Myriad Pro", sans-serif;
    color: #5e5151;
}
h1
{
    font-size: 25px;
}
h2
{
    font-size: 20px;
}
.container
{
    background: #fff;
    width: 850px;
    margin: 0 auto;
    border: 1px solid #ececec;
    position: relative;
    top: 70px;
}
.content
{
    min-height: 400px;
    overflow: hidden;
    padding: 20px 30px;
    line-height: normal;
}
.header
{
    background: url('../img/backgrounds/header.png') repeat-x;
    height: 136px;
    width: 100%;
    position: relative;
}
.logo
{
    position: absolute;
    top: 12px;
    left: 25px;
}
.caption
{
    position: absolute;
    left: 145px;
    top: 15px;
    font-family: "Myriad Pro", sans-serif;
    line-height: normal;
}
.caption span
{
    display: block;
}
.caption span.profession
{
    font-size: 18px;
    color: #fff;
}
.caption span.name
{
    font-size: 30px;
    color: #e5e5e5;
}
.header .phone
{
    overflow: hidden;
    line-height: normal;
    position: absolute;
    right: 25px;
    color: #fff;
    font-size: 28px;
    font-style: italic;
    top: 60px;
}
.header .phone sup
{
    vertical-align: super;
    font-size: 20px;
}
.footer
{
    border-top: 1px solid #e5e5e5;
    width: 600px;
    margin: 0 auto;
    font-family: "Tahoma", sans-serif;
    font-size: 12px;
    color: #a5a5a5;
    padding: 20px 0;
}
.footer .inner
{
    width: 220px;
    margin: 0 auto;
}
.content h1
{
    margin: 0 0 20px;
}
.interview-list
{
    overflow: hidden;
}
.interview-list li
{
    margin: 0 20px 20px 0;
    float: left;
}
.interview-list li p a
{
    color: #5E5151;
    font-size: 20px;

}
.interview-list li p
{
    margin: 0 0 10px
}
.menu
{
    border-bottom: 1px solid #96d297;
    background: #d0d0d0;
    overflow: hidden;
}
.menu li
{
    float: left;
}
.menu a
{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #5e5e5e;
    border-right: 1px solid #c1bebe;
    font-size: 18px;
}
.menu li:last-of-type a
{
    border: 0;
}
#login-form label
{
    display: block;
    float: left;
    width: 160px;
}
#login-form .row
{
    margin: 10px 0;
}
.pager li
{
    padding: 5px;
    float: left;
}
.pager a
{
    color: #444;
    font-size: 12px;
}
.pager .hidden
{
    display: none;
}
.pager .selected a
{
    text-decoration: none;
    font-weight: bold;
}
.first a, .previous a, .next a, .last a
{
    text-decoration: none;
}